In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Machine Learning Projects\weather_data.csv")

In [3]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
df.shape

(6, 4)

In [9]:
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [8]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [11]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [12]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [15]:
type(df['event'])

pandas.core.series.Series

In [16]:
df[['event','temperature']]

   event  temperature
0   Rain           32
1  Sunny           35
2   Snow           28
3   Snow           24
4   Rain           32
5  Sunny           31

In [17]:
df['temperature'].max()

35

In [18]:
df['temperature'].mean()

30.333333333333332

In [19]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [21]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [22]:
df[['day', 'temperature']][df.temperature==df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [23]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [25]:
df.set_index('day', inplace=True)

In [26]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [27]:
df.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [28]:
df.reset_index(inplace=True)

In [29]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny